

{% extends "forum_base.html" %}




 {% block sidebar %}

 
                    
                  <li class="mt">
                      <a id="nav_homepage"  href="/">
                          <i class="fa fa-dashboard"></i>
                          <span>Homepage</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;" class="active">
                          <i class="fa fa-desktop"></i>
                          <span>ELEC Forum</span>
                      </a>
                      <ul class="sub">

                          <li class="active"><a  href="/general_thread_list">General Forum</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Course Review</span>
                      </a>
                 	<ul class="sub">
                        <li><a  href="/general_review_list">View Reviews</a></li>
                    </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="/whiteboard/" >
                          <i class="fa fa-book"></i>
                          <span>Whiteboard</span>
                      </a>
                  
                  </li>
      
                 




   {% endblock %}


        {% block forumbar %}
                           <ul class="nav nav-pills nav-stacked mail-nav">
                            <li class="active"><a href="/general_thread_list"> <i class="fa fa-inbox"></i> Thread List  </a></li>
                           
                          
                            <li><a href="/general_thread_list/view_myposts/"> <i class="fa fa-file-text-o"></i> View My Posts</a></a></li>
                            <li><a href="/general_thread_list/trashbin/"> <i class="fa fa-trash-o"></i> Trash Bin</a></li>
                           
                        </ul>
                           {% endblock %}

  {% block content %}

 <div class="col-sm-9">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                       <h4 class="gen-case" style="color:red;"> Create your post
                        
                       </h4>
                    </header>
                    <div class="panel-body">
                
                        <div class="compose-mail">

                            <form role="form-horizontal" method="post" action="">
                              

    {% if errors %}
                {% for error in errors %}
        <li>

             <p style="color: red;">
                Please correct the error: {{error}} below.
             </p>
            
        </li>
          {% endfor %}
    {% endif %}

                                <div class="form-group">
                                    <label for="subject" class="" >Title:</label>
                                    <input name="title" type="text" tabindex="1" id="subject" class="form-control">
                                </div>



                               <div class="compose-editor" style="text-align: left;">
                                    <textarea name="content" class="wysihtml5 form-control" rows="9"></textarea>
                                    <input type="file" class="default">
                                </div>


                                <div class="compose-btn">
                                    <button class="btn btn-theme btn-sm" type="submit"><i class="fa fa-check"></i> Submit</button>
                                  

                                </div>

                            </form>
                        </div>
                    </div>
                </section>
            </div>






        </div>

  {% endblock %}




