{% extends "forum_base.html" %}




 {% block sidebar %}

 
                    
                  <li class="mt">
                      <a id="nav_homepage"  href="/">
                          <i class="fa fa-dashboard"></i>
                          <span>Homepage</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="javascript:;">
                          <i class="fa fa-desktop"></i>
                          <span>ELEC Forum</span>
                      </a>
                      <ul class="sub">

                          <li ><a  href="/general_thread_list">General Forum</a></li>
                      <!--     <li><a  href="buttons.html">ELEC Forum</a></li>
                          <li><a  href="panels.html">Support & Help</a></li>
                          <li><a  href="google_maps.html">Google Maps</a></li> -->
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;"class="active" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Course Review</span>
                      </a>
                
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Whiteboard</span>
                      </a>
                
                  </li>
            
                 




   {% endblock %}



 {% block threadlist %}

    <ul class="nav nav-pills nav-stacked mail-nav">
                            <li class="active"><a href="#"> <i class="fa fa-inbox"></i>Subject List </a></li>

                           {% endblock %}



                                                 
                        
                        </ul>
               



  {% block content %}


            <div class="col-sm-9">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                       <h4 class="gen-case" style="color:red;">Subject List
                        <form  class="pull-right mail-src-position" action="/search_review/" role="form" method="GET" >

                            <div class="input-append">
                                <input type="text" class="form-control " placeholder="Search Review" name="search_review">
                            </div>

                            <button class="pull-right btn btn-theme btn-sm" type="submit"><i class="fa fa-check"></i> Search</button>
                                  
                        </form>
                       </h4>
                    </header>

                    <div class="panel-body minimal">
                        <div class="mail-option">
           






                              <div style="text-align: center;">

                                <ul class="pagination pagination-lg">

                            {% if has_previous %}
                                     <li><a href="/?page={{ previous }}">Prev</a></li>
                            {% endif %}
                            {% if has_next %}
                                     <li><a href="/?page={{ next }}">Next</a><li>
                            {% endif %}


                            {% if articleList.has_previous %}
                                <li><a href="?page={{ articleList.previous_page_number }}" title="Prev">Prev</a></li>
                            {% endif %}

                                {% for p in page_range %}
                                    {% ifequal p articleList.number %}
                                     <li class="disabled"><a href="#">{{p}}</a></li>
                                    {% else %}
                                        <li><a href="?page={{p}}" title="Page:{{p}}">{{p}}</a></li>
                                    {% endifequal %}
                                {% endfor %}
                            &nbsp;
                            {% if articleList.has_next %}
                                <li><a href="?page={{ articleList.next_page_number }}" title="Next">Next</a></li>
                            {% endif %}
                            </ul>



                        </div>






                        </div>
                        <div class="table-inbox-wrap ">




                            <table class="table table-striped table-advance table-hover">


                              <thead>
                              <tr>
                                  <th></th>
                                 <!-- <th><i class="fa fa-bookmark-o"></i> Bookmark</th>-->
                                  <th><i class="fa fa-smile-o" width = "100"></i> Subject Name</th>
                                  <th><i class="fa fa-edit"></i> Lecturer</th>
                                  <th><i class=" fa fa-comment"></i> Rating</th>
                                  <th></th>
                              </tr>
                              </thead>
                        <tbody>

{% if info %}
  {% for article in articleList.object_list %}


                            <tr class="unread">
                           <!--  <td class="inbox-small-cells">
                                <input type="checkbox" class="mail-checkbox">
                            </td>-->
                            <td class="inbox-small-cells" width="120"><i class="fa fa-star"></i></td>

                            <td class="view-message " width="400" ><a href="/course/{{ article.id }}/">
                             {{ article.subject_name }}</a></td>

                            <td ><a href="/profile/{{article.subject.lecturer}}">
                              {{ article.lecturer }}</a></td>
                            
                             <td>{{ article.rating }}</td>

                            <td class="view-message  text-right" >{{ article.lastpost }}</td>
                        </tr>

  {% endfor %}
{% else %}
  <p>Sorry, no posts.</p>
{% endif %}

 
                    
                        </tbody>
                        </table>





                        </div>
                    </div>
                </section>
            </div>
        </div>

  {% endblock %}